body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  body {
  overflow-x: hidden;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-family: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/*?---------------------HEADER-------------------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  width:100%;
  display: flex;
  align-items:center;

}

.header-navigation {
  display: flex;
  align-items: center;
  padding:16px 0;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 149px;
}

.header-logo-black {
  color: #2e2f42;
}

.menu-list {
  display:none;
  gap: 40px;
}

.header-menu-link {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  padding: 24px 0;
  display:none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.now {
  position: relative;
  color: #404bbf;
}

.now::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-menu-link:hover,
.header-menu-link:focus,
.header-logo:active {
  color: #404bbf;
}

.adress {
  font-style: normal;
  margin-top:16px;
  /* margin-top: 24px; */
}
.adress-menu-link {
  color: #434455;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display:none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-menu-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.adress-menu-link:hover,
.adress-menu-link:focus,
.address-menu-link:active {
  color: #404bbf;
}

/*?---------------------------------------Modul-Mob Menu-------------------------------*/
.mobile-menu{
  width: 320px;
  min-height:640px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 24px 40px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.modal-menu-btn{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-menu-btn:hover,
.modal-menu-btn:focus {
background-color: #404bbf;
border: none;
fill:#fff;
}

.modal-btn-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-list {
display:flex;
flex-wrap:wrap;
gap:40px;
margin-bottom:168px;
}

.mobile-menu-list-item {
  text-decoration:none;
}

.mobile-menu-list-link{ 
color: #2e2f42;
font-size: 36px;
font-weight: 700;
line-height:1.11;
letter-spacing:0.02em;
}
.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus,
.mobile-menu-list-link:active{
    color: #404bbf;
}


.now-menu {
  position: relative;
  color: #404bbf;
}

.mobile-menu-list-adress {
display:flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.mobile-menu-address-link {
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus,
.mobile-menu-address-link:active {
  color: #404bbf;
}
.mobile-menu-icons {
display: inline-flex;
align-items: flex-start;
gap: 40px;
padding:48px 0 40px 0;
fill:#4D5AE5;
}

.mobile-menu-icon {
}

.mobile-menu-social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
  fill: #f4f4fd;
}

.mobile-menu-social-links:hover,
.mobile-menu-social-links:focus,
.mobile-menu-social-links:active{
background-color: #fff;
fill:#2e2f42;
}
/*?---------------------------------------SECTION-1-BUISNESS-------------------------------*/

.business{
  display: block;
  background-color: #2a2a2a;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob/bg-mob.jpg);
  padding: 72px 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 320px;
  max-height: 432px;
  margin-left: auto;
  margin-right: auto;
}


.business-titel {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 288px;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  text-align: center;
  text-transform:capitalize;
  margin-bottom: 72px;
}

.business-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.business-btn:hover,
.business-btn:focus,
.business-btn:active {
  background-color: #404bbf;
}

/*?------------------------------------SECTION-2-OUR STRENGTH----------------------------------*/

.strength {
  padding: 96px 0;
}
.strength-container{
 max-width: 320px;  
}
.strength-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.strength-item {
  width: 100%;
}

.strength-subtitle {
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.strength-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.wrapper-strength-icon{
  display:none;
}

/*?-------------------------------------SECTION-3-OUR TEAM------------------------------------*/

.team {
  max-width:100%;
  padding:96px 0;
  background-color: #f4f4fd;
}

.team-container {
width: 320px;
text-align: center;
padding: 0 28px;

}

.team-titel {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
  margin-right: auto;
  margin-left: auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  padding: 0;
  margin: 0;
}

.team-item {
  width:100%;
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card {
  padding: 32px 0;
}

.team-img-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-link-li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
}

.team-icon-li {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 40px;
  height: 40px;
}

.icon-team {
  fill: #f4f4fd;
}

/*?-------------------------------SECTION-4-PORTFOLIO---------------------------------------*/

.portfolio {
  padding:96px 0;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-container {
width: 320px;
}

.container-image-portfolio {
  position: relative;
  overflow: hidden;
}

.portfolio-item {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap:48px;
}

.portfolio-list-item {
  width: 100%;
  border: 1px solid #F4F4FD;
background: #FFF;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

} */

.project-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-img-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.hidden-p {
  display:none;
  position: absolute;
  margin: 0;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .hidden-p {
  transform: translateY(0%);
}

.team-link-li:hover,
.team-link-li:focus {
  background-color: #404bbf;
}

/*?--------------------------------------------FOOTER---------------------------------------*/

.footer {
  background-color: #2e2f42;
  padding: 97.5px 0 96px 0;

}

.footer-container {
  max-width:320px;
  /* display: flex;
  flex-direction: row;
  align-items: baseline; */
}

.footer-container-logo {
    margin-bottom:72px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  text-align: center;

}

.footer-logo-white {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  width: 288px;
  margin-top:17.5px;
  
}

.footer-wrapper-social-media {
}

.footer-social-media-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.social-icon-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-icon-li {
  width: 40px;
  height: 40px;
  fill: none;
}

.social-link-li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-li:hover,
.social-link-li:focus {
  background-color: #31d0aa;
}

.icon-social {
  fill: #f4f4fd;
}

.footer-wrapper-social-media {
margin-bottom: 72px;
}

.footer-wrapper-subscribe {
  margin: 0;
  margin-bottom: 16px;

}

.footer-wrapper-subscribe-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-label{
   margin-bottom:16px;
}

.footer-form {
  /* gap: 24px; */
  display: flex;
  flex-wrap: wrap;
justify-content: center;
}



.footer-input {
  width: 288px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  outline: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
  color: #fff;
}

.footer-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  display: flex;
  border-radius: 4px;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 165px;
  height: 40px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus,
.footer-btn:active {
  background-color: #31d0aa;
}

.subscribe-icon {
  margin-left: 16px;
}
/*?-------------------------------------------Background 96 192 dpi---------------------------------------*/
@media (min-resolution: 96dpi) {
  .solution-business {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-desc.jpg");
  }
}

@media (min-resolution: 192dpi) {
  .solution-business {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg-desc-x2jpg");
  }
}

/*?-------------------------------------------MODAL WINDOW---------------------------------------*/

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    visibility:hidden;
    opacity:0;
}

.modal {
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 72px 16px 24px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #fff;
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-info {
  margin-bottom: 8px;
  position: relative;
}

.modal-input-wrap {
  position: relative;
}

.modal-label {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-info-com {
  margin-bottom: 16px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8E8F99;
  background-color: transparent;
  resize: none;
}

.modal-text:focus {
  border-color: #4d5ae5;
}

.modal-info-check {
  margin-bottom: 24px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.check-text {
  display: flex;
  max-width:256px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  align-items: center;
}

.modal-check-link {
  display: contents;
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
  cursor: pointer;
}

.span {
  flex-shrink:0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  letter-spacing: 0.04em;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.check-input:checked + .check-text > .span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-chek-icon {
}

.input-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 4px;
  background: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*?---------------------------------------------Adaptation Tablet----------------------------------------*/

@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  .mobile-menu{
    display:none;
  }
.is-open{
opacity: inherit;
visibility: collapse;
}
.header-container{
  max-height: 72px;
  display:flex;
  justify-content: space-around;
}


.header-navigation {
  padding:0;
}


.header-logo{
  margin-right: 120px;
}

.icon-menu{
  display:none;
}


.menu-list {
  display:flex;
  justify-content:space-between;
}

.header-menu-link {
display:block;
}

.adress{
    display: flex;
    justify-content: flex-end;
    margin:0;
}
.adress-menu-link {
  display:block;
  font-size: 12px;
    line-height: 1.6;
}

.modal {
  flex-flow: column;
  width:408px;
  min-height:584px;
  padding: 72px 25px 24px 23px;
}
.check-text {
  display: flex;
  max-width:360px;
}

.business{
max-width: 768px;
max-height: 436px; 
background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/tab/bg-tab.jpg);
    padding: 112px 136px;
}

.wrapper-business{
  display:flex;
  flex-wrap:wrap;
  padding:0;
}

.business-titel{
display:contents;
font-size: 56px;
text-transform:none;
line-height:1.07em;
}

.business-btn{
    margin:36px auto;
}


.strength-container{
 max-width: 768px;  
}


.strength-list {
  gap: 24px;
  width: 100%;
}

.strength-item {
  width: calc((100% - 24px) / 2);
}
 .strength-item-text{
  width:356px;
  height:72px;
 }

.strength-subtitle {
text-align: start;
}

.team-container {
width: 768px;
padding: 0 108px;
}

.team-list {
  gap:64px 24px;
}

.team-item {
  width: calc((100% - 24px) / 2);
}



.portfolio-container {
width: 768px;
}

.portfolio-list{
    gap:64px 24px;
}
.portfolio-list-item{
  width: calc((100% - 24px) / 2); 
}

.footer-container {
  max-width:768px;
    display: flex;
    flex-wrap: wrap;
    padding:0 108px;
}

.footer-container-logo{
  margin-right:24px;
}

.footer-logo{
text-align: inherit;
}
.footer-social-media-p{
text-align: inherit;
}
.footer-text{
  width:264px;
}

.footer-wrapper-subscribe-p{
      text-align: inherit;
}

.footer-input{
      width: 264px;
}

.footer-label{
  margin-right:24px;
}
/*?---------------------------------------------Adaptation Desctop----------------------------------------*/

@media screen and (min-width: 1158px) {
  .container {
    max-width:100%
  }

.modal{
padding: 72px 24px 24px 24px;
}

  .header-logo{
  margin-right: 76px;
}

  .menu-list-adress{
  display:contents;
  }

  .adress-menu-link {
margin-right:40px;
  }

  .business{
max-width:1440px;
max-height: 600px; 
background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-desc.jpg);
        padding: 188px 0;
  }

.wrapper-business{
    display: flex;
    align-content: center;
    flex-direction: column;
}

.business-titel{
font-size:56px;
line-height:1.07;
max-width:496px;
display:block;
margin-bottom:48px;
}

.business-btn{
   margin: 0 auto;
}

.strength-container{
 max-width: 1158px;  
}

  .strength-item {
  width: calc((100% - 72px) / 4);
  }

  .strength-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

   .strength-item-text{
  width:264px;
   }

 .wrapper-strength-icon {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid#8E8F99;
}

.team{
  padding:120px 0;
}
.team-container {
width: 1158px;
padding:0 16px;
}

.team-list {
  gap:24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
}

.portfolio {
 padding:120px 0;
}

.portfolio-container {
width: 1158px;
padding:0 16px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
}

.hidden-p {
  display:block;
}

.footer {

padding:100px 0;

}
.footer-container{
max-width:1558px;
padding:0 16px;
justify-content: center;
}

.footer-wrapper-social-media{
  margin-bottom:0;
}

.footer-container-logo  {
  margin-bottom: 0;
    margin-right: 120px;
}

.footer-form {
    flex-flow: inherit;
}

.footer-logo{
 margin-bottom: 16px;
}

.footer-text{
  margin-top
  width:264px;
}

.footer-wrapper-social-media {
  margin-right: 80px;
}

.footer-input{
opacity: inherit;
}
}

